

.background-home-intro{
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size:contain;
  @media only screen and (max-width: 520px){
    height: 30rem;
    margin-bottom: 4rem;
    background-size:cover;
  }
  @media only screen and (max-width: 780px){
    height: 30rem;
    margin-bottom: 4rem;
  }
  @media only screen and (min-width: 781px) and (max-width: 1216px){
    height: 40rem;
    margin-bottom: 5rem;
  }
  @media only screen and (min-width: 1217px) and (max-width: 1408px){
    height: 50rem;
    margin-bottom: 5rem;
  }
}
