// Invert colors

$orange-invert: findColorInvert($orange);
$yellow-invert: findColorInvert($yellow);
$green-invert: findColorInvert($green);
$turquoise-invert: findColorInvert($turquoise);
$cyan-invert: findColorInvert($cyan);
$blue-invert: findColorInvert($blue);
$purple-invert: findColorInvert($purple);
$red-invert: findColorInvert($red);
$rusted-invert: findColorInvert($rusted);
$danger-invert: findColorInvert($danger);
$white-invert: findColorInvert($white);
$navy-invert: findColorInvert($navy);

$primary-invert: $red-invert;
$link-invert: $turquoise-invert;
$info-invert: $blue-invert;
$success-invert: $green-invert;
$warning-invert: $orange-invert;

$light-invert: $dark;
$dark-invert: $light;
