// Advanced Algos Custom colors
$orange: #F0A202;
$yellow: #F4E409;
$green: #BCD643;
$turquoise: #1B998B;
$cyan: #B4F3FA;
$blue: #2A96FF;
$purple: #5B507A;
$red: #E3493C;
$rusted: #CC5835;
$white: #FFFFFF;
$navy: #13293D;

$primary: $blue;
$primary-dark: darken($blue, 20);

$link: $turquoise;
$info: $cyan;
$success: $green;
$warning: $orange;
$danger: $rusted;

$light: rgb(245, 243, 243);
$dark: #303036;

$grey-darker: #333;
$black-ter: #222;

$radius-small: 0px;
$radius: 0px;
$radius-large: 0px;
$radius-rounded: 290486px;
