.signupContainer{
    padding: 0.5rem;
    /*max-width: 40rem;*/
    width: 100%;
    text-align: -webkit-center;
}

.signupCardContainer {
    min-width: 20rem;
    max-width: 30rem;
}

.signupCardContent{

}

.signupHeader {
    width: 100%;
}

.signupTitleContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.signupTitle{

}

.signupInputBoxesContainer{

}

.signupFormControl{
    width: 100%;
    margin: 0.5rem 0 !important;
}

.signupFooter{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    width: 100%;
}