.skeleton {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.scroll-element {
    margin: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    /*width: 15rem;*/
    /*min-height: 13rem;*/
    max-height: 35rem;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
}
