# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will be requested for
# review when someone opens a pull request.
*       @superalgos/core-devs

# Project Teams
/Projects/Algorithmic-Trading   @superalgos/algorithmic-trading-project
/Projects/Community-Plugins     @superalgos/community-plugins-project
/Projects/Data-Mining           @superalgos/data-mining-project
/Projects/Education             @superalgos/education-project
/Projects/Ethereum              @superalgos/ethereum-project
/Projects/Foundations           @superalgos/foundations-project
/Projects/Governance            @superalgos/governance-project
/Projects/Machine-Learning      @superalgos/machine-learning-project
/Projects/Network               @superalgos/network-project
/Projects/Social-Bots           @superalgos/social-bots-project
/Projects/Social-Trading        @superalgos/social-trading-project
/Projects/TensorFlow            @superalgos/tensorflow-project
/Projects/Visual-Scripting      @superalgos/visual-scripting-project

/.github                        @superalgos/sysadmins-team
/Docker                         @superalgos/sysadmins-team
.git*                           @superalgos/sysadmins-team
.docker*                        @superalgos/sysadmins-team
package*.json                   @superalgos/sysadmins-team
