



#main{
  padding: 0px;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}

#main h1{
  color:#444;
  text-align: center;
}

#user-list{
  color: black;
  padding: 0;
}

#user-list-li{
  color: pink;
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #889E4F;
  box-shadow: 1px 2px 3px rgba(0,0,0,3);
  cursor: pointer;
  color: #880E4F;
}


form button{
    color: #fff;
    font-size: 2em;
    background: #AD1457;
    border: 0;
    padding: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#user-profile{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 80%;
    background: #AD1457;
    padding: 30px;
    overflow: auto;
    box-shadow: -2px -3px 5px rgba(0,0,0,0.3);
    box-sizing: border-box;
    color: #fff;
}









body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:rgb(255, 255, 255);
}

nav a.active{
  border-bottom: 5px solid #333;
  transition: all ease 0.5s;
}

.container{
  margin-top: 20px;
}

.home .post img{
  position: absolute;
  top: 20px;
  left: -100px;
  opacity: 0.6;
}

.home .post{
  overflow: hidden;
  padding-left: 80px;
}


.module-name{
  text-decoration-color: white;
}

header{
  background-color:rgb(48, 48, 54);
  min-height: 50px;
}
@media screen and (max-width: 670px){
  header{
    min-height: 500px;
  }
}
.section{
  padding-top: 4vw;
  padding-bottom: 4vw;
}
.tabs .indicator{
  background-color: #1a237e;
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
  background: transparent;
}


footer{
  background-color:rgb(48, 48, 54);
  min-height: 50px;
}
