**/Data-Storage
**/My-Data-Storage
**/Log-Files
**/My-Log-Files
**/My-Workspaces
**/My-Social-Trading-Data
**/My-Network-Nodes-Data

debug.log

*.db

README.md
LICENSE
CONTRIBUTING.md
CODE_OF_CONDUCT.md
.git*
.docker*
**/.vscode
**/Dockerfile*
**/docker-compose.yml
**/node_modules
**/.env*
Bitcoin-Factory/Reports/*