[submodule "Plugins/Machine-Learning"]
	path = Plugins/Machine-Learning
	url = https://github.com/Superalgos/Machine-Learning-Plugins.git
[submodule "Plugins/Portfolio-Management"]
	path = Plugins/Portfolio-Management
	url = https://github.com/Superalgos/Portfolio-Management-Plugins.git
[submodule "Plugins/Algorithmic-Trading"]
	path = Plugins/Algorithmic-Trading
	url = https://github.com/Superalgos/Algorithmic-Trading-Plugins.git
[submodule "Plugins/TensorFlow"]
	path = Plugins/TensorFlow
	url = https://github.com/Superalgos/TensorFlow-Plugins.git
[submodule "Plugins/Trading-Signals"]
	path = Plugins/Trading-Signals
	url = https://github.com/Superalgos/Trading-Signals-Plugins.git
[submodule "Plugins/Governance"]
	path = Plugins/Governance
	url = https://github.com/Superalgos/Governance-Plugins.git
[submodule "Plugins/Foundations"]
	path = Plugins/Foundations
	url = https://github.com/Superalgos/Foundations-Plugins.git
