@media (max-width: 280px) {.responsive_menu .topWrap .usermenu_area .menuItemLeft{float:right;}.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li+li{margin:0 0 0 67px;}.responsive_menu .topWrap .usermenu_area .menuItemLeft{font-size:11px;}.responsive_menu .topWrap .usermenu_area .menuItemLeft>span{margin-left:25px;font-size:10px;}.responsive_menu .topWrap .usermenu_area .menuItemLeft>span:first-child{margin-left:0;}.responsive_menu .openResponsiveMenu{margin-left:2px!important;}.responsive_menu .topWrap .cart{margin-right:2px!important;}.responsive_menu .socPage,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li>a,.responsive_menu ul.usermenu_list li.usermenu_login>a:before,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li a:before,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li>a,.responsive_menu .topWrap .usermenu_area .menuItemLeft{height:20px;line-height:20px;min-height:0;}.responsive_menu .topWrap .usermenu_area ul.usermenu_list li.usermenu_socials>a+a{margin:0 0 0 10px;}.responsive_menu .logo+.openResponsiveMenu{float:none;margin:5px auto!important;}}@media (max-width: 467px) {body{font-size:12px;line-height:18px;}h1,.h1{font-size:24px;line-height:32px;padding:0 0 16px 0;}h2,.h2{font-size:22px;line-height:28px;padding:0 0 20px 0;}h3,.h3{font-size:16px;line-height:20px;padding:0 0 20px 0;}h4,.h4{font-size:14px;line-height:18px;padding:0 0 15px 0;}h5,.h5{font-size:13px;line-height:16px;padding:0 0 20px 0;}h6,.h6{font-size:12px;line-height:15px;padding:0 0 18px 0;}.sc_title_underline:after{margin:20px auto 15px;}.sc_title_underline{padding-bottom:0;}.line_height_45{line-height:18px!important;}.line_height_45+.sc_button{margin-top:5px;display:block;}section>.container,.sc_parallax_content>.container{padding-top:30px!important;padding-bottom:30px!important;}.history_content{padding:0 5px;}#history_section img{height:100%;}#history_section .col-md-6{max-height:390px;}section>.container>.row>[class*="col-"]{margin:0;}.sc_team>[class*="col-"]{padding:0;}.portfolioWrap.NOspacing .isotopeFiltr ul{padding:10px 0;}.sc_tabs_style_1 ul.sc_tabs_titles li+li{padding:8px 5px;}.tab-content{padding-top:0;}.sc_timeline .thumb{margin-right:5px;}.sc_timeline .hoverIncrease .hoverIcon{height:23px;width:23px;line-height:25px;margin:-11px 0 0 -11px;}.sc_timeline .hoverIncrease .hoverIcon:before{font-size:10px;}.sc_timeline .sc_timeline_item .sc_title{font-size:11px;padding:5px 0 0;margin:0px 0 0 45px;}.sc_timeline .sc_timeline_content p{font-size:10px;line-height:15px;}}@media (max-width: 367px) and (min-width: 268px) {.responsive_menu .socPage,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li>a,.responsive_menu ul.usermenu_list li.usermenu_login>a:before,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li a:before,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li>a,.responsive_menu .topWrap .usermenu_area .menuItemLeft{height:30px;line-height:30px;min-height:0;}header .logo{padding:0;}.logo.logo_left{width:100%;float:none;}.navbar-brand{text-align:center;float:none;height:initial;padding-top:0;padding-bottom:0;}header .logo .logo_text{font-size:46px;}header .topWrap .search.searchOpen{width:100%;}.openResponsiveMenu{width:52%;margin-left:0;}.responsive_menu .openResponsiveMenu,.responsive_menu .topWrap .search,.responsive_menu .topWrap .cart{margin:10px 0 10px 5px;}.responsive_menu .openResponsiveMenu{margin-left:15px;float:left;}.responsive_menu .topWrap .cart{margin-right:15px;}.responsive_menu .topWrap .usermenu_area .menuItemLeft{float:right;}.responsive_menu .logo+.openResponsiveMenu{float:none;margin:20px auto;}.relatedPostWrap .wrap{min-height:initial;}.relatedPostWrap.sc_blogger article .relatedInfo .wrap_bottom_info{margin:0 10px;}.relatedPostWrap.sc_blogger article:hover .wrap_bottom_info{top:65%;}.relatedPostWrap.sc_blogger article .relatedInfo .cat_info{margin-bottom:0;font-size:4px;}.relatedPostWrap.sc_blogger article .relatedInfo .post_format_wrap,.relatedPostWrap.sc_blogger article .readmore_blogger{display:none;}.relatedPostWrap.sc_blogger article .relatedInfo h4{font-size:10px;}.relatedPostWrap.sc_blogger article .relatedInfo .cat_info a{font-size:4px;line-height:1;}.breadcrumbs{padding-top:0;}.topTabsWrap .pageTitle{font-size:9px;padding:0 10px 0 0;}.topTabsWrap .speedBar{font-size:4px;padding:7px 0 7px;}.portfolioWrap .isotopePadding{min-height:initial;}.portfolioWrap .masonry.portfolioNOspacing article{max-height:168px!important;}.portfolioWrap .grid .isotopePadding,.masonry article .thumb,.masonry article .thumb img{max-height:inherit;}.masonry article .thumb img{width:initial;}.hoverIncrease .wrap_hover>a,.hoverIncrease .wrap_hover a>span,.hoverIncrease:hover .hoverIcon,.hoverIncrease:hover .hoverLink{font-size:12px;width:35px;height:35px;line-height:35px;}.portfolio_isotope .portfolioWrap .masonry.portfolioNOspacing article{left:55px!important;width:200px!important;max-height:inherit!important;}.portfolio_isotope .sc_line_after:after{top:40px;}.portfolio_isotope .portfolioWrap.NOspacing .isotopeFiltr ul{padding:90px 0 0;}.sidebar .tabs_area ul.tabs>li>a{font-size:10px;padding:0px 5px;}.responsive_menu #bestselling_section{overflow:hidden;}}@media (max-width: 467px) and (min-width: 368px) {.responsive_menu .socPage,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li>a,.responsive_menu ul.usermenu_list li.usermenu_login>a:before,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li a:before,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li>a,.responsive_menu .topWrap .usermenu_area .menuItemLeft{height:30px;line-height:30px;min-height:0;}header .logo{padding:0;}.logo.logo_left{width:100%;float:none;}.navbar-brand{text-align:center;float:none;height:initial;padding-bottom:0;}header .topWrap .search.searchOpen{width:100%;}.openResponsiveMenu{float:left;width:65%;}.responsive_menu .openResponsiveMenu,.responsive_menu .topWrap .search,.responsive_menu .topWrap .cart{margin:20px 0 20px 8px;}.responsive_menu .openResponsiveMenu{margin-left:0;}ul#mainmenu .menu-panel ul.thumb_title>li{min-width:initial!important;}.responsive_menu .logo+.openResponsiveMenu{float:none;margin:20px auto;}#blogpost_section .portfolioWrap .isotopePadding{min-height:inherit;max-height:inherit;}#blogpost_section .hoverIncrease.hoverTwo{min-height:inherit;max-height:inherit;}#blogpost_section .hoverIncrease img{width:421px;}.topTabsWrap{padding-top:20px;}.topTabsWrap .pageTitle{font-size:20px;padding-bottom:0;}.topTabsWrap .speedBar{font-size:7px;padding:10px 0 20px 0;}.relatedPostWrap.sc_blogger article .relatedInfo .post_format_wrap,.relatedPostWrap.sc_blogger article .readmore_blogger{display:none;}.relatedPostWrap.sc_blogger article .relatedInfo h4{font-size:14px;}.relatedPostWrap.sc_blogger article .relatedInfo .cat_info a{font-size:8px;line-height:1;}.portfolioWrap .grid .isotopePadding,.masonry article .thumb,.masonry article .thumb img{max-height:inherit;}.masonry article .thumb img{width:initial;}.portfolio_isotope .portfolioWrap .masonry.portfolioNOspacing article{left:63px!important;width:300px!important;max-height:inherit!important;}.portfolio_isotope .sc_line_after:after{top:40px;}.portfolio_isotope .portfolioWrap.NOspacing .isotopeFiltr ul{padding:90px 0 0;}.woocommerce p.stars [class*="star-"],.woocommerce-page p.stars [class*="star-"]{margin-right:5px!important;}.woocommerce form label{font-size:13px;}.responsive_menu #bestselling_section{overflow:hidden;}}@media (max-width: 567px) and (min-width: 468px) {.responsive_menu .socPage,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li>a,.responsive_menu ul.usermenu_list li.usermenu_login>a:before,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li a:before,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li>a,.responsive_menu .topWrap .usermenu_area .menuItemLeft{height:30px;line-height:30px;min-height:0;}.openResponsiveMenu{margin-left:0!important;}.topWrap .search.searchOpen{width:40%!important;}ul#mainmenu .menu-panel ul.thumb_title>li{min-width:initial!important;}.one_page .slide_description_wrapper{top:45%!important;}.relatedPostWrap.sc_blogger article .relatedInfo .post_format_wrap,.relatedPostWrap.sc_blogger article .readmore_blogger{display:none;}.relatedPostWrap.sc_blogger article .relatedInfo h4{font-size:14px;}.relatedPostWrap.sc_blogger article .relatedInfo .cat_info a{font-size:10px;}.hoverIncrease img{width:100%;}}@media (max-width: 600px) and (min-width: 100px) {.openResponsiveMenu{margin:20px 0 20px 20px;}}@media (max-width: 667px) and (min-width: 468px) {.responsive_menu .socPage,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li>a,.responsive_menu ul.usermenu_list li.usermenu_login>a:before,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li a:before,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li>a,.responsive_menu .topWrap .usermenu_area .menuItemLeft{height:30px;line-height:30px;min-height:0;}header .logo{padding:0;margin:15px 0}.navbar-brand{padding:0;}.responsive_menu .openResponsiveMenu,.responsive_menu .topWrap .search,.responsive_menu .topWrap .cart{margin:20px 0 20px 5px;}.responsive_menu .openResponsiveMenu{margin-left:0;}.openResponsiveMenu{padding:0 11px 0 30px;}.openResponsiveMenu:before{left:12px;}.topTabsWrap{padding-top:0;}.topTabsWrap .pageTitle{font-size:24px;padding-bottom:0;}.topTabsWrap .speedBar{font-size:8px;padding-bottom:20px;}.portfolio_isotope article{left:59px!important;width:352px!important;}.woocommerce p.stars [class*="star-"],.woocommerce-page p.stars [class*="star-"]{margin-right:10px!important;}}@media (max-width: 767px) and (min-width: 668px) {header .logo{padding:0;margin:15px 0}.navbar-brand{padding:0;}.responsive_menu .socPage,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li>a,.responsive_menu ul.usermenu_list li.usermenu_login>a:before,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li a:before,.responsive_menu .topWrap .usermenu_area ul.usermenu_list>li>a,.responsive_menu .topWrap .usermenu_area .menuItemLeft{height:30px;line-height:30px;min-height:0;}.responsive_menu .openResponsiveMenu,.responsive_menu .topWrap .search,.responsive_menu .topWrap .cart{margin:20px 0 20px 8px;}.responsive_menu .openResponsiveMenu{margin-left:0;}.topWrap .search.searchOpen{width:40%!important;}ul#mainmenu .menu-panel ul.thumb_title>li{min-width:initial!important;}.topTabsWrap{padding-top:0;}.topTabsWrap .pageTitle{font-size:24px;padding-bottom:0;}.topTabsWrap .speedBar{font-size:8px;padding-bottom:20px;}.relatedPostWrap.sc_blogger article .relatedInfo .title_wrap{padding-bottom:10%;}.relatedPostWrap.sc_blogger article .readmore_blogger{display:none;}.relatedPostWrap.sc_blogger article .relatedInfo h4{font-size:26px;}.hoverIncrease img{width:100%;}.portfolio_isotope article{left:59px!important;width:352px!important;}.woocommerce p.stars [class*="star-"],.woocommerce-page p.stars [class*="star-"]{margin-right:10px!important;}}@media (max-width: 767px) and (min-width: 368px) {.topWrap .usermenu_area .menuItemLeft{float:right;}}@media (max-width: 867px) and (min-width: 768px) {header .logo{padding:0;margin:15px 0}.navbar-brand{padding:0;}ul#mainmenu .menu-panel ul.thumb_title>li{min-width:initial!important;}.responsive_menu .openResponsiveMenu,.responsive_menu .topWrap .search,.responsive_menu .topWrap .cart{margin:20px 0 20px 10px;}.responsive_menu .openResponsiveMenu{margin-left:0;}.topTabsWrap .pageTitle{font-size:40px;}.topTabsWrap .speedBar{font-size:10px;}.relatedPostWrap.sc_blogger article .relatedInfo .wrap_bottom_info{top:80%;}.relatedPostWrap.sc_blogger article:hover .wrap_bottom_info{top:70px;}.relatedPostWrap.sc_blogger article .relatedInfo .title_wrap{}.relatedPostWrap.sc_blogger article .relatedInfo h4{font-size:30px;}.relatedPostWrap.sc_blogger article .relatedInfo .cat_info a{font-size:12px;}.blogpost_content .col-md-4.col-sm-6:last-child{clear:both;}#history_section .col-md-6{max-height:320px;}.history_content .sc_button{margin-bottom:20px!important;}.history_content .margin_top_big{margin-top:25px!important;}.history_content h2{font-size:28px;}.history_content h5,.history_content p{font-size:12px;line-height:18px;}.history_content .sc_title_underline:after{margin:20px auto 10px;}.portfolio_isotope article{max-width:50%;}.sidebar{margin-top:50px;}.sidebar:not(.sidebar_cart){width:100%;float:none;padding:0;}.sidebar:not(.sidebar_cart) aside{width:47%;display:block;float:left;}.sidebar:not(.sidebar_cart) aside:nth-child(2n+1){clear:both;margin:0 4% 30px 0;}.sidebar:not(.sidebar_cart):after{content:'';height:0;display:block;clear:both;}}@media (max-width: 967px) and (min-width: 868px) {ul#mainmenu .menu-panel ul.thumb_title>li{min-width:initial!important;}.topTabsWrap .pageTitle{font-size:42px;}.topTabsWrap .speedBar{font-size:11px;}.relatedPostWrap.sc_blogger article .relatedInfo .wrap_bottom_info{top:80%;}.relatedPostWrap.sc_blogger article:hover .wrap_bottom_info{top:70px;}.relatedPostWrap.sc_blogger article .relatedInfo .title_wrap{padding-bottom:10%;}.relatedPostWrap.sc_blogger article .relatedInfo h4{font-size:34px;}.relatedPostWrap.sc_blogger article .relatedInfo .cat_info a{font-size:14px;}.blogpost_content .col-md-4.col-sm-6:last-child{clear:both;}#history_section .col-md-6{max-height:320px;}.history_content .sc_button{margin-bottom:20px!important;}.history_content .margin_top_big{margin-top:25px!important;}.history_content h2{font-size:28px;}.history_content h5,.history_content p{font-size:12px;line-height:18px;}.history_content .sc_title_underline:after{margin:20px auto 10px;}.portfolio_isotope article{max-width:50%;}.sidebar{margin-top:50px;}.sidebar:not(.sidebar_cart){width:100%;float:none;padding:0;}.sidebar:not(.sidebar_cart) aside{width:48%;display:block;float:left;}.sidebar:not(.sidebar_cart) aside:nth-child(2n+1){clear:both;margin:0 4% 30px 0;}.sidebar:not(.sidebar_cart):after{content:'';height:0;display:block;clear:both;}}@media (max-width: 1067px) and (min-width: 968px) {ul#mainmenu .menu-panel ul.thumb_title>li{min-width:initial!important;}.relatedPostWrap.sc_blogger article .relatedInfo .wrap_bottom_info{top:60%;}.relatedPostWrap.sc_blogger article:hover .wrap_bottom_info{top:70px;}.relatedPostWrap.sc_blogger article .relatedInfo .post_format_wrap,.relatedPostWrap.sc_blogger article .readmore_blogger{display:none;}.relatedPostWrap.sc_blogger article .relatedInfo h4{font-size:19px;}.relatedPostWrap.sc_blogger article .relatedInfo .cat_info a{font-size:10px;}.things2_content .sc_text_slider{margin-top:60px;margin-bottom:30px;}.things2_content .sc_text_slider .sc_text_slider_item_text h2{font-size:35px;}.things2_content .sc_text_slider .sc_text_slider_item_text h5{font-size:12px;}.things2_content .sc_text_slider .sc_text_slider_item_text .sc_title_underline:after{margin:25px auto 0px;}.sc_text_slider .sc_slider{padding-bottom:40px;}.sc_text_slider .sc_slider .swiper-pagination{bottom:25px;}.history_content .sc_button{margin-bottom:20px!important;}.history_content .margin_top_big{margin-top:60px!important;}.history_content h2{font-size:34px;}.history_content h5,.history_content p{font-size:13px;}.portfolio_isotope article{max-width:49%;}}@media (max-width: 1167px) and (min-width: 1068px) {ul#mainmenu .menu-panel ul.thumb_title>li{min-width:initial!important;}.relatedPostWrap.sc_blogger article .relatedInfo .post_format_wrap,.relatedPostWrap.sc_blogger article .readmore_blogger{display:none;}.relatedPostWrap.sc_blogger article .relatedInfo h4{font-size:21px;}.things2_content .sc_text_slider{margin-top:60px;margin-bottom:30px;}.history_content .sc_button{margin-bottom:20px!important;}.history_content .margin_top_big{margin-top:60px!important;}.history_content h2{font-size:34px;}.history_content h5,.history_content p{font-size:13px;}[class*="footerStyle"] .socPage ul li a{width:39px;height:39px;margin-right:0;}[class*="footerStyle"] .socPage a[class*="socialico-"]:before{line-height:39px;width:39px;height:39px;}.portfolio_isotope .isotopeFiltr ul a{padding:0 20px;}.portfolio_isotope article{max-width:33%;}.portfolio_columns_page .isotopeFiltr a{padding:0 20px;}.sidebar .tabs_area ul.tabs>li>a{font-size:10px;padding:5px 14px;}.sidebar article .post_thumb{margin-right:15px;}.sidebar article .post_title{font-size:13px;padding:0;}.sidebar article .post_info .post_date,.sidebar article .post_info .post_comments{font-size:9px;padding:0 3px 0 0;}}@media (max-width: 367px) and (min-width: 268px) {// .slider_textblock_left .slide_description {   margin-right: 110px; }#mainslider .flex-direction-nav a{top:-24px;}.flex-control-nav{bottom:-5px;}#mainslider .flexslider h3{font-size:24px;line-height:24px;}#mainslider .flexslider p{font-size:3px;line-height:5px;margin-top:5px;margin-bottom:-5px;display:none;}a.revlink{font-size:2px;padding:3px 5px;letter-spacing:0px;display:none;}.revlink.border{margin-left:2px;border-width:0.3px;}#mainslider [class*="slide_store_textblock_"]{height:62px;}#mainslider .slide_store_textblock_right div{max-width:137px;}#mainslider .slide_store_textblock_right div+div{margin-left:-23px;}#mainslider [class*="slide_store_textblock_"] h3{font-size:14px;line-height:15px;}#mainslider [class*="slide_store_textblock_"] h5{font-size:3px;line-height:5px;}#mainslider [class*="slide_store_textblock_"] p{font-size:3px;line-height:5px;margin-top:5px;margin-bottom:0px;}#mainslider .slide_store_textblock_right.with_price img{width:72%;}#mainslider .slide_store_textblock_right.with_price div+div{margin-left:-55px;}#mainslider .slide_store_textblock_right.with_price h5{margin-top:5px;margin-bottom:0;padding:0;}#mainslider .slide_store_textblock_left div{max-width:549px;}#mainslider .slide_store_textblock_left div:first-child{margin-right:9px;}#mainslider .slide_store_textblock_left div+div{width:66px;}#mainslider .slide_store_textblock_left div:last-child{width:32px;}.slider_img_middle{margin-top:10px;}.sc_tabs ul.sc_tabs_titles li{padding-right:8px;}.sc_tabs_style_1 ul.sc_tabs_titles li+li{padding:8px 8px;}.sc_tabs ul.sc_tabs_titles li a{font-size:10px;}
}

@media (max-width: 467px) and (min-width: 368px) {
  /*#mainslider .flexslider {  height: 115px;  }*/
  .slider_textblock_left .slide_description {   margin-right: 50px; }

  #mainslider .flex-direction-nav a { top: -24px;}

  .flex-control-nav {  bottom: -6px; }

  #mainslider .flexslider h3 {
    font-size: 26px;
    line-height: 20px;
  }
  
  #mainslider .flexslider p {
    font-size: 12px;
    line-height: 12px;
    margin-top: 7px;
    margin-bottom: 15px;
  }

  a.revlink{
    font-size: 12px;
    padding: 3px 7px;
    letter-spacing: 0px;
  }
  .revlink.border {
    margin-left: 6px;
    border-width: 0.5px;
  }
  #mainslider [class*="slide_store_textblock_"] { height: 83px; }
  #mainslider .slide_store_textblock_right div { max-width: 182px; }
  #mainslider .slide_store_textblock_right div + div { margin-left: -34px; }
  #mainslider [class*="slide_store_textblock_"] h3 { font-size: 18px; line-height: 21px; }
  #mainslider [class*="slide_store_textblock_"] h5 { font-size: 4px; line-height: 6px; }
  #mainslider [class*="slide_store_textblock_"] p { font-size: 4px; line-height: 6px; margin-top: 5px; margin-bottom: 0px;}
  #mainslider .slide_store_textblock_right.with_price img{ width: 72%; }
  #mainslider .slide_store_textblock_right.with_price div + div { margin-left: -77px; }
  #mainslider .slide_store_textblock_right.with_price h5 {   margin-top: 8px; margin-bottom: 0; padding: 0; }

  #mainslider .slide_store_textblock_left div { max-width: 549px; }
  #mainslider .slide_store_textblock_left div:first-child { margin-right: 9px; }
  #mainslider .slide_store_textblock_left div + div { width: 89px; }
  #mainslider .slide_store_textblock_left div:last-child { width: 43px;}

 .slider_img_middle { margin-top: 13px; }

  /* tabs */
  .sc_tabs ul.sc_tabs_titles li { padding-right: 8px; }
  .sc_tabs_style_1 ul.sc_tabs_titles li + li { padding: 8px 8px; }
  .sc_tabs ul.sc_tabs_titles li a { font-size: 10px ; }

}

@media (max-width: 567px) and (min-width: 468px) {
  /*#mainslider .flexslider {
    height: 138px; 
  }*/
  // .slider_textblock_left .slide_description {   margin-right: 180px; }

  #mainslider .flex-direction-nav a { top: -19px;}

  #mainslider .flexslider h3 {
    font-size: 26px;
    line-height: 23px;
  }
  
  #mainslider .flexslider p {
    font-size: 12px;
    line-height: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  a.revlink{
    font-size: 8px;
    padding: 4px 8px;
    letter-spacing: 0px;
  }
  .revlink.border {
    margin-left: 6px;
    border-width: 0.5px;
  }

  #mainslider [class*="slide_store_textblock_"] { height: 101px; }
  #mainslider .slide_store_textblock_right div { max-width: 219px; }
  #mainslider .slide_store_textblock_right div + div { margin-left: -39px; }
  #mainslider [class*="slide_store_textblock_"] h3 { font-size: 22px; line-height: 25px; }
  #mainslider [class*="slide_store_textblock_"] h5 { font-size: 5px; line-height: 8px; }
  #mainslider [class*="slide_store_textblock_"] p { font-size: 5px; line-height: 8px; margin-top: 5px; margin-bottom: 0px;}
  #mainslider .slide_store_textblock_right.with_price img{ width: 72%; }
  #mainslider .slide_store_textblock_right.with_price div + div { margin-left: -91px; }
  #mainslider .slide_store_textblock_right.with_price h5 {   margin-top: 8px; margin-bottom: 0; padding: 0; }

  #mainslider .slide_store_textblock_left div { max-width: 549px; }
  #mainslider .slide_store_textblock_left div:first-child { margin-right: 13px; }
  #mainslider .slide_store_textblock_left div + div { width: 107px; }
  #mainslider .slide_store_textblock_left div:last-child { width: 51px;}

 .slider_img_middle { margin-top: 16px; }

  /* tabs */
  .sc_tabs ul.sc_tabs_titles li { padding-right: 8px; }
  .sc_tabs_style_1 ul.sc_tabs_titles li + li { padding: 8px 8px; }
  .sc_tabs ul.sc_tabs_titles li a { font-size: 10px ; }

}

@media (max-width: 767px) and (min-width: 568px) {
  /*#mainslider .flexslider {
    height: 172px; 
  }*/
  .slider_textblock_left .slide_description {   margin-right: 50px; }

  #mainslider .flexslider h3 {
    font-size: 24px;
    line-height: 29px;
  }
  
  #mainslider .flexslider p {
    font-size: 12px;
    line-height: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  a.revlink{
    font-size: 12px;
    padding: 5px 10px;
    letter-spacing: 0px;
  }
  .revlink.border {
    margin-left: 6px;
    border-width: 0.5px;
  }

  #mainslider [class*="slide_store_textblock_"] { height: 126px; }
  #mainslider .slide_store_textblock_right div { max-width: 274px; }
  #mainslider .slide_store_textblock_right div + div { margin-left: -46px; }
  #mainslider [class*="slide_store_textblock_"] h3 { font-size: 28px; line-height: 31px; }
  #mainslider [class*="slide_store_textblock_"] h5 { font-size: 6px; line-height: 10px; }
  #mainslider [class*="slide_store_textblock_"] p { font-size: 6px; line-height: 10px; margin-top: 10px; margin-bottom: 10px;}
  #mainslider .slide_store_textblock_right.with_price img{ width: 72%; }
  #mainslider .slide_store_textblock_right.with_price div + div { margin-left: -111px; }
  #mainslider .slide_store_textblock_right.with_price h5 { margin-bottom: 0; }

  #mainslider .slide_store_textblock_left div { max-width: 549px; }
  #mainslider .slide_store_textblock_left div:first-child { margin-right: 19px; }
  #mainslider .slide_store_textblock_left div + div { width: 133px; }
  #mainslider .slide_store_textblock_left div:last-child { width: 64px;}

 .slider_img_middle { margin-top: 20px; }

  /* tabs */
  .sc_tabs ul.sc_tabs_titles li { padding-right: 10px; }
  .sc_tabs_style_1 ul.sc_tabs_titles li + li { padding: 8px 10px; }
  .sc_tabs ul.sc_tabs_titles li a { font-size: 11px ; }

}

@media (max-width: 867px) and (min-width: 768px) {
  /*#mainslider .flexslider {
    height: 197px; 
  }*/
  .slider_textblock_left .slide_description {   margin-right: 250px; }

  #mainslider .flexslider h3 {
    font-size: 36px;
    line-height: 33px;
  }
  
  #mainslider .flexslider p {
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  a.revlink{
    font-size: 12px;
    padding: 7px 14px;
    letter-spacing: 0px;
  }
  .revlink.border {
    margin-left: 10px;
  }

  #mainslider [class*="slide_store_textblock_"] { height: 146px; }
  #mainslider .slide_store_textblock_right div { max-width: 313px; }
  #mainslider .slide_store_textblock_right div + div { margin-left: -52px; }
  #mainslider [class*="slide_store_textblock_"] h3 { font-size: 32px; line-height: 35px; }
  #mainslider [class*="slide_store_textblock_"] h5 { font-size: 7px; line-height: 12px;}
  #mainslider [class*="slide_store_textblock_"] p { font-size: 7px; line-height: 11px; margin-top: 15px; margin-bottom: 20px;}
  #mainslider .slide_store_textblock_right.with_price img{ width: 72%; }
  #mainslider .slide_store_textblock_right.with_price div + div { margin-left: -127px; }

  #mainslider .slide_store_textblock_left div { max-width: 549px; }
  #mainslider .slide_store_textblock_left div:first-child { margin-right: 20px; }
  #mainslider .slide_store_textblock_left div + div { width: 153px; }
  #mainslider .slide_store_textblock_left div:last-child { width: 74px;}

 .slider_img_middle { margin-top: 23px; }

  /* tabs */
  .sc_tabs ul.sc_tabs_titles li { padding-right: 10px; }
  .sc_tabs_style_1 ul.sc_tabs_titles li + li { padding: 8px 10px; }
  .sc_tabs ul.sc_tabs_titles li a { font-size: 11px ; }

}

@media (max-width: 967px) and (min-width: 868px) {
  /*#mainslider .flexslider {
    height: 230px; 
  }*/
  .slider_textblock_left .slide_description {   margin-right: 300px; }

  #mainslider .flexslider h3 {
    font-size: 32px;
    line-height: 39px;
  }
  
  #mainslider .flexslider p {
    font-size: 12px;
    line-height: 13px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  a.revlink{
    font-size: 12px;
    padding: 7px 14px;
    letter-spacing: 0px;
  }
  .revlink.border {
    margin-left: 15px;
  }

  #mainslider [class*="slide_store_textblock_"] { height: 169px; }
  #mainslider .slide_store_textblock_right div { max-width: 365px; }
  #mainslider .slide_store_textblock_right div + div { margin-left: -63px; }
  #mainslider [class*="slide_store_textblock_"] h3 { font-size: 37px; line-height: 41px; }
  #mainslider [class*="slide_store_textblock_"] h5 { font-size: 8px; line-height: 14px;}
  #mainslider [class*="slide_store_textblock_"] p { font-size: 8px; line-height: 13px; margin-top: 15px; margin-bottom: 20px;}
  #mainslider .slide_store_textblock_right.with_price img{ width: 72%; }
  #mainslider .slide_store_textblock_right.with_price div + div { margin-left: -150px; }

  #mainslider .slide_store_textblock_left div { max-width: 549px; }
  #mainslider .slide_store_textblock_left div:first-child { margin-right: 23px; }
  #mainslider .slide_store_textblock_left div + div { width: 178px; }
  #mainslider .slide_store_textblock_left div:last-child { width: 86px;}

 .slider_img_middle { margin-top: 27px; }

}

@media (max-width: 1167px) and (min-width: 968px) {
  /*#mainslider .flexslider {
    height: 276px; 
  }*/
  .slider_textblock_left .slide_description {   margin-right: 350px; }

  #mainslider .flexslider h3 {
    font-size: 39px;
    line-height: 47px;
  }
  
  #mainslider .flexslider p {
    font-size: 12px;
    line-height: 15px;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  a.revlink{
    font-size: 12px;
    padding: 9px 17px;
  }
  .revlink.border {
    margin-left: 15px;
  }

  #mainslider [class*="slide_store_textblock_"] { height: 200px; }
  #mainslider .slide_store_textblock_right div { max-width: 439px; }
  #mainslider .slide_store_textblock_right div + div { margin-left: -80px; }
  #mainslider [class*="slide_store_textblock_"] h3 { font-size: 44px; line-height: 50px; }
  #mainslider [class*="slide_store_textblock_"] h5 { font-size: 10px; line-height: 17px;}
  #mainslider [class*="slide_store_textblock_"] p { font-size: 10px; line-height: 15px; margin-top: 15px; margin-bottom: 25px;}
  #mainslider .slide_store_textblock_right.with_price img{ width: 72%; }
  #mainslider .slide_store_textblock_right.with_price p + h5 { margin-top: -10px; margin-bottom: 15px; }
  #mainslider .slide_store_textblock_right.with_price div + div { margin-left: -184px; }

  #mainslider .slide_store_textblock_left div { max-width: 549px; }
  #mainslider .slide_store_textblock_left div:first-child { margin-right: 25px; }
  #mainslider .slide_store_textblock_left div + div { width: 214px; }
  #mainslider .slide_store_textblock_left div:last-child { width: 103px;}

 .slider_img_middle { margin-top: 30px; }
  

}

@media (max-width: 1267px) and (min-width: 1168px) {
  /*#mainslider .flexslider {
    height: 312px; 
  }*/
  .slider_textblock_left .slide_description {   margin-right: 400px; }

  #mainslider .flexslider h3 {
    font-size: 44px;
    line-height: 53px;
  }
  
  #mainslider .flexslider p {
    font-size: 11px;
    line-height: 18px;
    margin-bottom: 35px;
  }

  a.revlink{
    font-size: 9px;
    padding: 10px 19px;
  }

  #mainslider [class*="slide_store_textblock_"] { height: 225px; }
  #mainslider .slide_store_textblock_right div { max-width: 492px; }
  #mainslider .slide_store_textblock_right div + div { margin-left: -85px; }
  #mainslider [class*="slide_store_textblock_"] h3 { font-size: 50px; line-height: 56px; }
  #mainslider [class*="slide_store_textblock_"] h5 { font-size: 11px; line-height: 19px;}
  #mainslider [class*="slide_store_textblock_"] p { font-size: 11px; line-height: 18px; margin-top: 15px; margin-bottom: 25px;}
  #mainslider .slide_store_textblock_right.with_price img{ width: 72%; }
  #mainslider .slide_store_textblock_right.with_price p + h5 { margin-top: -10px; margin-bottom: 15px; }
  #mainslider .slide_store_textblock_right.with_price div + div { margin-left: -202px; }

  #mainslider .slide_store_textblock_left div { max-width: 549px; }
  #mainslider .slide_store_textblock_left div:first-child { margin-right: 28px; }
  #mainslider .slide_store_textblock_left div + div { width: 243px; }
  #mainslider .slide_store_textblock_left div:last-child { width: 117px;}

 .slider_img_middle { margin-top: 33px; }

}

@media (max-width: 1367px) and (min-width: 1268px) {
  /*#mainslider .flexslider { height: 345px; }*/
  .slider_textblock_left .slide_description { margin-right: 400px; }

  #mainslider .flexslider h3 { font-size: 48px; line-height: 59px;  }
  
  #mainslider .flexslider p { font-size: 12px;  line-height: 21px;  margin-bottom: 35px; }

  #mainslider [class*="slide_store_textblock_"] { height: 250px; }
  #mainslider .slide_store_textblock_right div { max-width: 549px; }
  #mainslider .slide_store_textblock_right div + div { margin-left: -100px; }
  #mainslider [class*="slide_store_textblock_"] h3 { font-size: 55px; line-height: 62px; }
  #mainslider [class*="slide_store_textblock_"] h5 { font-size: 12px; line-height: 21px; }
  #mainslider [class*="slide_store_textblock_"] p { font-size: 12px; line-height: 19px; margin-top: 15px;}
  #mainslider .slide_store_textblock_right.with_price img{ width: 72% !important; }
  #mainslider .slide_store_textblock_right.with_price p + h5 { margin-top: -10px; margin-bottom: 15px; }
  #mainslider .slide_store_textblock_right.with_price div + div { margin-left: -230px; }

    
  #mainslider .slide_store_textblock_left div { max-width: 549px; }
  #mainslider .slide_store_textblock_left div:first-child { margin-right: 30px; }
  #mainslider .slide_store_textblock_left div + div { width: 268px; }
  #mainslider .slide_store_textblock_left div:last-child { width: 129px;}
 
 .slider_img_middle { margin-top: 35px; }

}

@media (max-width: 1567px) and (min-width: 1368px) {
  /*#mainslider .flexslider {   height: 382px;    }*/
  .slider_textblock_left .slide_description {   margin-right: 500px; }

  #mainslider .flexslider h3 { font-size: 54px; line-height: 65px;  }
  
  #mainslider .flexslider p { font-size: 14px;  line-height: 21px;  margin-bottom: 35px; }

  a.revlink{ font-size: 11px;  padding: 12px 24px;  }

  /*#mainslider .flexslider { height: 345px; }*/
  .slider_textblock_left .slide_description { margin-right: 400px; }

  #mainslider .flexslider h3 { font-size: 48px; line-height: 59px;  }
  
  #mainslider .flexslider p { font-size: 12px;  line-height: 21px;  margin-bottom: 35px; }

  #mainslider [class*="slide_store_textblock_"] { height: 250px; }
  #mainslider .slide_store_textblock_right div { max-width: 610px; }
  #mainslider .slide_store_textblock_right div + div { margin-left: -100px; }
  #mainslider [class*="slide_store_textblock_"] h3 { font-size: 61px; line-height: 69px; }
  #mainslider [class*="slide_store_textblock_"] h5 { font-size: 14px; line-height: 23px; }
  #mainslider [class*="slide_store_textblock_"] p { font-size: 14px; line-height: 21px; margin-top: 15px;}
  #mainslider .slide_store_textblock_right.with_price img{ width: 72% !important; }
  #mainslider .slide_store_textblock_right.with_price p + h5 { margin-top: -10px; margin-bottom: 15px; }
  #mainslider .slide_store_textblock_right.with_price div + div { margin-left: -230px; }

    
  #mainslider .slide_store_textblock_left div { max-width: 549px; }
  #mainslider .slide_store_textblock_left div:first-child { margin-right: 30px; }
  #mainslider .slide_store_textblock_left div + div { width: 297px; }
  #mainslider .slide_store_textblock_left div:last-child { width: 143px;}
 
 .slider_img_middle { margin-top: 35px; }

}

@media (max-width: 1867px) and (min-width: 1568px) {
  /*#mainslider .flexslider {
    height: 459px; 
  }*/
  .slider_textblock_left .slide_description {   margin-right: 500px; }

  #mainslider .flexslider h3 {
    font-size: 64px;
    line-height: 78px;
  }
  
  #mainslider .flexslider p {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 45px;
  }

  a.revlink{
    font-size: 13px;
    padding: 15px 28px;
  }

  #mainslider [class*="slide_store_textblock_"] { height: 340px; }
  #mainslider .slide_store_textblock_right div { max-width: 740px; }
  #mainslider .slide_store_textblock_right div + div { margin-left: -100px; }
  #mainslider [class*="slide_store_textblock_"] h3 { font-size: 74px; line-height: 84px; }
  #mainslider [class*="slide_store_textblock_"] h5 { font-size: 17px; line-height: 28px; }
  #mainslider [class*="slide_store_textblock_"] p { font-size: 17px; line-height: 26px; margin-top: 15px;}
  #mainslider .slide_store_textblock_right.with_price img{ width: 72% !important; }
  #mainslider .slide_store_textblock_right.with_price p + h5 { margin-top: -10px; margin-bottom: 15px; }
  #mainslider .slide_store_textblock_right.with_price div + div { margin-left: -230px; }

    
  #mainslider .slide_store_textblock_left div { max-width: 549px; }
  #mainslider .slide_store_textblock_left div:first-child { margin-right: 30px; }
  #mainslider .slide_store_textblock_left div + div { width: 361px; }
  #mainslider .slide_store_textblock_left div:last-child { width: 174px;}
 
 .slider_img_middle { margin-top: 35px; }

}

@media (max-width: 2067px) and (min-width: 1868px) {
  /*#mainslider .flexslider {
    height: 518px; 
  }*/
  .slider_textblock_left .slide_description {   margin-right: 500px; }

  #mainslider .flexslider h3 {
    font-size: 74px;
    line-height: 85px;
  }
  
  #mainslider .flexslider p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 50px;
  }

  a.revlink{
    font-size: 14px;
    padding: 17px 34px;
  }

  #mainslider [class*="slide_store_textblock_"] { height: 380px; }
  #mainslider .slide_store_textblock_right div { max-width: 796px; }
  #mainslider .slide_store_textblock_right div + div { margin-left: -100px; }
  #mainslider [class*="slide_store_textblock_"] h3 { font-size: 74px; line-height: 84px; }
  #mainslider [class*="slide_store_textblock_"] h5 { font-size: 18px; line-height: 30px; }
  #mainslider [class*="slide_store_textblock_"] p { font-size: 18px; line-height: 28px; margin-top: 15px;}
  #mainslider .slide_store_textblock_right.with_price img{ width: 72% !important; }
  #mainslider .slide_store_textblock_right.with_price p + h5 { margin-top: -10px; margin-bottom: 15px; }
  #mainslider .slide_store_textblock_right.with_price div + div { margin-left: -230px; }

    
  #mainslider .slide_store_textblock_left div { max-width: 549px; }
  #mainslider .slide_store_textblock_left div:first-child { margin-right: 30px; }
  #mainslider .slide_store_textblock_left div + div { width: 388px; }
  #mainslider .slide_store_textblock_left div:last-child { width: 187px;}
 
 .slider_img_middle { margin-top: 35px; }

}

@media (min-width: 2068px) {
  /*#mainslider .flexslider {
    height: 689px; 
  }*/
  .slider_textblock_left .slide_description {   margin-right: 580px; }

  #mainslider .flexslider h3 {
    font-size: 70px;
    line-height: 85px;
  }
  
  #mainslider .flexslider p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 50px;
  }

  a.revlink{
    font-size: 14px;
    padding: 18px 34px;
  }

  #mainslider [class*="slide_store_textblock_"] { height: 380px; }
  #mainslider .slide_store_textblock_right div { max-width: 796px; }
  #mainslider .slide_store_textblock_right div + div { margin-left: -100px; }
  #mainslider [class*="slide_store_textblock_"] h3 { font-size: 74px; line-height: 84px; }
  #mainslider [class*="slide_store_textblock_"] h5 { font-size: 18px; line-height: 30px; }
  #mainslider [class*="slide_store_textblock_"] p { font-size: 18px; line-height: 28px; margin-top: 15px;}
  #mainslider .slide_store_textblock_right.with_price img{ width: 72% !important; }
  #mainslider .slide_store_textblock_right.with_price p + h5 { margin-top: -10px; margin-bottom: 15px; }
  #mainslider .slide_store_textblock_right.with_price div + div { margin-left: -230px; }

    
  #mainslider .slide_store_textblock_left div { max-width: 549px; }
  #mainslider .slide_store_textblock_left div:first-child { margin-right: 30px; }
  #mainslider .slide_store_textblock_left div + div { width: 388px; }
  #mainslider .slide_store_textblock_left div:last-child { width: 187px;}
 
 .slider_img_middle { margin-top: 35px; }

}

/* ================= */

@media (max-width: 1467px) and (min-width: 1168px) {
    /* Main menu */

  	/* blog section */
  	.relatedPostWrap.sc_blogger article .relatedInfo .title_wrap {
  		padding-bottom: 7%;
  	}

    .relatedPostWrap.sc_blogger article .readmore_blogger {
    	display: none; 
    }
    .relatedPostWrap.sc_blogger article .relatedInfo h4 {
    	 font-size: 21px;
    }
}



/*=Mainmenu==================================================================================================================================================================*/

@media (max-width: 400px) {
  /* main menu mobile styles */
  .sf-menu { top: 15px; left: 15px; bottom: 15px; right: 15px; padding: 15px 5px; } 

}

@media (max-width: 567px) {
  /* main menu mobile styles */
  #download_section a + a { display: block; margin: 10px 0 0;}

}



/*@media screen and (max-width: 767px) {
}*/


@media (max-width: 767px) {
  /* general style */
  .table_section .row, 
  .table_section [class*="col-"] { display: block; width: auto; }
  [class*="col-"] + [class*="col-"] { margin-top: 30px !important; }
  [class*="col-xs"] + [class*="col-xs"] { margin-top: 0; }

  .container {max-width: 500px;}
  .fullwidth .container { max-width: 100%; }


  /* main menu mobile styles */
  .sf-menu a { color: #343434; }
  .sf-menu ul { list-style: none; padding-left: 10px; }
  .sf-menu ul li a { display: block; padding: 10px; text-transform: none; }
  .sf-arrows .sf-with-ul { padding-right: 2.5em; *padding-right: 1em; }

  /*top menu level*/
  .sf-arrows .sfHover > a, .sf-arrows .sfHover > a:hover { color: #ffffff; background-color: #343434; } 

  /* purchase section */
  #purchase_section span, #purchase_bottom_section span{ display: block;  line-height: 25px;}
  #purchase_bottom_section span > a, #purchase_section span > a { margin-top: 10px; }

} 

@media (min-width: 768px) {
  /* main menu mobile styles */
  .sf-menu, .sf-menu ul { margin: 0; padding: 0; list-style: none; }
  .sf-menu li { position: relative; }
  .sf-menu ul { position: absolute; display: none; top: 100%; left: 4px; z-index: 99; }
  .sf-menu > li { float: left; }
  .sf-menu li:hover > ul, .sf-menu li.sfHover > ul { display: block; }
  .sf-menu a { display: block; position: relative; }
  .sf-menu ul ul { top: -5px; left: 100%; }

  /* menu skin */
  .sf-menu a { color: #7f7f7f; }
  .sf-menu li:hover, .sf-menu li.sfHover { -webkit-transition: none; transition: none; }
  .sf-arrows .sf-with-ul { padding-right: 2.5em; *padding-right: 1em; }

 }

@media (max-width: 1067px) {
  /* sidemenu */
  .sidemenu_wrap .sidemenu_area > ul > li > a,
  .sidemenu_wrap .sidemenu_area ul li ul li a { font-size:12px; }

  /* project section */
  #projects_section .isotopeFiltr ul a { padding: 0 10px; }

}

@media (max-width: 1167px) {
  header #mainmenu {
      margin-right: initial;
  }
  /* footer style */
  [class*="footerStyle"] .logo_text { font-size: 42px; } 
  .responsive_menu .affix .logo img { height: 34px !important;}
}

@media (min-width: 1168px) {
    /* Main menu */
    .topWrap .search.searchOpen { width: 60% !important; }
    #mainmenu > li a + ul > li > a + ul { top: 0 !important; width: auto; }
    ul#mainmenu .menu-panel ul.columns > li { max-width: 140px; }
    .topWrap .topMenuStyleLine > .menu-panel.columns > li ul { min-width: 100%; } 

    /* header */
    .blog_page .affix-top .topWrap:after { display: none; }
    .blog_page .topWrap .cart{ display: none; }
    .blog_page .navbar-brand { float: none; }
    .blog_page .affix .navbar-brand { padding-bottom: 0; }
    .blog_page .affix .logo img{ margin-top: 10px; }
    .blog_page .topWrap .search{ float: right; }
    .blog_page .topWrap .topMenuStyleLine { float: left; }
    .blog_page .topWrap .logo{ text-align: center; float: none !important; }
    .blog_page .block_center { width: 60%; margin: 0 auto; }
    .blog_page .topWrap .search.searchOpen { width: 1000px !important; left: 30%; margin-bottom: 15px; }
    .blog_page .affix .topWrap .topMenuStyleLine > ul > li {  padding: 18px 0; }
    .blog_page .affix .topWrap .search { margin-top: 15px; }

}

@media (max-width: 1367px) {
/* parallax */
  .sc_parallax .sc_parallax_content { background-size: auto 150%; }
}

@media (min-width: 1368px) {
/* parallax */
  .sc_parallax .sc_parallax_content { background-size: 100% auto; }
}

@media (min-width: 1468px) {
  /* blog section */
  .relatedPostWrap.sc_blogger article .relatedInfo .wrap_bottom_info { top: 72%; }
  .relatedPostWrap.sc_blogger article:hover .wrap_bottom_info { top: 70px; } 
}

@media (min-width: 1568px) {
  /* blog section */
  .relatedPostWrap.sc_blogger article .relatedInfo .wrap_bottom_info { top: 80%; }
  .relatedPostWrap.sc_blogger article:hover .wrap_bottom_info { top: 70px; } 
  .relatedPostWrap.sc_blogger article .relatedInfo .title_wrap { padding-bottom: 30px; }
}


@media (max-width: 1368px) {
  .flexslider .slides li > img {
    width: auto;
    height: 100%;
    max-width: initial;
  }
}