/* vietnamese */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 300;
  src: local('Saira Light'), local('Saira-Light'), url(https://fonts.gstatic.com/s/saira/v2/mem9Ya2wxmKQyNGMb4YdcrgmVA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 300;
  src: local('Saira Light'), local('Saira-Light'), url(https://fonts.gstatic.com/s/saira/v2/mem9Ya2wxmKQyNGMb4YccrgmVA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 300;
  src: local('Saira Light'), local('Saira-Light'), url(https://fonts.gstatic.com/s/saira/v2/mem9Ya2wxmKQyNGMb4YScrg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 600;
  src: local('Saira SemiBold'), local('Saira-SemiBold'), url(https://fonts.gstatic.com/s/saira/v2/mem9Ya2wxmKQyNH4aYYdcrgmVA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 600;
  src: local('Saira SemiBold'), local('Saira-SemiBold'), url(https://fonts.gstatic.com/s/saira/v2/mem9Ya2wxmKQyNH4aYYccrgmVA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 600;
  src: local('Saira SemiBold'), local('Saira-SemiBold'), url(https://fonts.gstatic.com/s/saira/v2/mem9Ya2wxmKQyNH4aYYScrg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Saira Condensed Light'), local('SairaCondensed-Light'), url(https://fonts.gstatic.com/s/sairacondensed/v3/EJRLQgErUN8XuHNEtX81i9TmEkrnCclQ-K2fli0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Saira Condensed Light'), local('SairaCondensed-Light'), url(https://fonts.gstatic.com/s/sairacondensed/v3/EJRLQgErUN8XuHNEtX81i9TmEkrnCclQ-a2fli0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Saira Condensed Light'), local('SairaCondensed-Light'), url(https://fonts.gstatic.com/s/sairacondensed/v3/EJRLQgErUN8XuHNEtX81i9TmEkrnCclQ962f.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 600;
  src: local('Saira Condensed SemiBold'), local('SairaCondensed-SemiBold'), url(https://fonts.gstatic.com/s/sairacondensed/v3/EJRLQgErUN8XuHNEtX81i9TmEkrnfc9Q-K2fli0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 600;
  src: local('Saira Condensed SemiBold'), local('SairaCondensed-SemiBold'), url(https://fonts.gstatic.com/s/sairacondensed/v3/EJRLQgErUN8XuHNEtX81i9TmEkrnfc9Q-a2fli0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 600;
  src: local('Saira Condensed SemiBold'), local('SairaCondensed-SemiBold'), url(https://fonts.gstatic.com/s/sairacondensed/v3/EJRLQgErUN8XuHNEtX81i9TmEkrnfc9Q962f.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
