.replyModal {
    position: absolute;
    justify-content: normal;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    height: fit-content;
    background-color: white;
    border: 1px solid #000;
    box-shadow: 24px 24px 100px black;
    border-radius: 1rem;
}

.replyFeedContainer {
    width: -moz-available !important; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available !important; /* Mozilla-based browsers will ignore this. */
    position: relative;
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 0.50rem;
}

.replyModalFooter {
    position: relative;
    padding: 0.50rem;
}

.reply {
    padding: 0.5rem;
    align-items: center;
}

.modalPost {
    height: 100% !important;
    width: 100% !important;
}