.app {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 98vh;
    max-height: 98vh;
}

.appContainer{
    /*justify-content: space-around;*/
}

.middleSection{
    width: 40rem;
}