.userSection {

}

.profilePicBG {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: none no-repeat scroll 0 0 #fff;*/
    position: relative;
    height: 8rem !important;
    width: 8rem !important;
    border-radius: 50%;
}

.profileSection {
    width: 100%;
    overflow: initial !important; /* IMPORTANT DO NOT REMOVE CAUSE IT BREAKS AND I DONT KNOW WHY GG */
    min-height: fit-content;
}

.banner {
    height: 10rem;
}

.profileAvatar {
    height: 7rem !important;
    width: 7rem !important;
    border-radius: 50%;
}

.profileCard {
    margin-top: -5rem;
    display: flex;
    flex-direction: row;
    height: 8rem;
    justify-content: space-between;
    align-items: flex-end;
    vertical-align: center;
}

.editProfileButton {
    margin-bottom: 0.4rem !important;
    margin-right: 1.25rem !important;
    height: 1.5rem;
    width: 8.6rem;
    border-radius: 20px !important;
}

.followButtonExternalProfile {
    margin-bottom: 0.4rem !important;
    margin-right: 1.25rem !important;
    height: 1.5rem;
    width: 8.6rem;
    border-radius: 20px !important;
}

.stats {
    padding-top: 1px;
    width: 100%;
    color: #6b6b6b;
}

.username {
    width: 100%;
}

.bio {
    padding-top: 1px;
    padding-bottom: 1px;
    width: 100%;
}

.location {
    padding-top: 1px;
    padding-bottom: 1px;
    width: 100%;
    color: #6b6b6b;
}

.joinDate {
    padding-top: 1px;
    padding-bottom: 1px;
    width: 100%;
    color: #6b6b6b;
}

.userHandle {
    padding-top: 1px;
    padding-bottom: 1px;
    width: 100%;
    color: #6b6b6b;
}

.profileIcons {
    width: 15px;
    height: 15px;
    vertical-align: text-top;
}