/.env
/.env.prod
.env.dev
/database/.env
/database/docker-compose.prisma.prod.yml
/docker-compose.prisma.prod.yml
/docker-compose.prod.yml
.graphqlconfig.prod.yml
dist
node_modules
.idea
.vscode
*.log
