/*noinspection CssInvalidPropertyValue*/
.logo {
    width: 100%;
}
.icon {
    margin: 0 0.5rem;
}

.linkLogo{
    display: inline-flex;
    align-items: center;
    height: 3rem;
    width: fit-content;
}