body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.docs-page {
    max-width: 1200px;
    margin: 0 auto;
}

.docs-topic-index {
    padding-top: 0;
}

.docs-topic-index a {
    text-decoration: none;
}

.docs-definition-floating-cells {
    background-color: white;
    vertical-align: middle;
    margin: 0 10px 20px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    padding: 10px;
    display: table;
    min-width: 300px;
    box-sizing: border-box;
    border-collapse: separate;
    border-spacing: 10px;
    float: left
}

.docs-definition-floating-links {
    min-width: 125px;
    float: left
}

.hidden {
    display: none;
}

.docs-chapter {
    display: none;
}

.docs-tooltip {
    color: inherit;
    text-decoration: none;
}

.docs-nav .button, .docs-footer-cell .button {
    border: 1px outset #e6eaea;
    border-radius: 20px;
    background-color: transparent;
    color: e6eaea;
    padding: 10px 10px 11px;
    margin: 0 0 0 10px;
    text-transform: capitalize;
}

.docs-page-link {
    display: inline-block;
    padding: 12px;
}

.docs-page-link > a, .docs-page-link > a:visited {
    text-decoration: none;
    color: inherit;
}

#docs-nav-div {
    width: 100%;
    background-color: #365558;
    color: #e6eaea;
    border-bottom: 5px solid #0295aa;
}

#docs-footer-div {
    width: 100%;
    background-color: #365558;
    color: #e6eaea;
    border-top: 5px solid #0295aa;
    margin-top: 80px;
}

.docs-nav {
    width: 100%;
    background-color: #365558;
    color: #e6eaea;
    margin: 0 auto 10px;
    max-width: 1200px;
    padding: 20px 0 15px;
}

.docs-nav a, .docs-nav a:visited {
    color: #ffd1a9;
}

.docs-nav a.active {
    background-color: inherit;
    color: #e6eaea;
}

.docs-node-html-footer-container {
    border-top: none;
    margin: 0;
}