
  .docs-page {
    border: 0px solid;
    background-color: #fdfdfd;
  }

  .docs-node-html-page-container {
    font: 400 17px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
    color: #111; 
    line-height: 150%;
    margin: 20 20 20 30px;
  }

  .docs-normal-font {
    font: 400 17px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
    color: #111; 
    line-height: 150%;
  }

  .docs-definitionTable {
    background-color: #f9f9f9;
    vertical-align: middle;
    width: 100%;
    min-width: 95px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    border: 1px solid #dedede;
    padding: 10px;
  }

  .docs-image-container {
    padding: 5px 15px 5px 5px;
    border: solid 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  /* Tooltip container */
  .docs-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .docs-tooltip .docs-tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: #0295aa;
    color: #fff;
    font-weight: normal;
    font-size: 92%;
    line-height: 130%;
    text-align: center;
    padding: 15px;
    border-radius: 6px;
  
    /* Position the docs-tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -120px;
     
  
    /* Fade in docs-tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .docs-tooltip .docs-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #0295aa transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .docs-tooltip:hover .docs-tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  /* Headings */

  .docs-h1 {font-size:210%; margin-top: 40px; padding-bottom: 5px;}

  .docs-h2 {font-weight:700; font-size:170%; margin-top: 60px; padding-bottom: 5px; overflow:hidden;}

  .docs-h2::after{
  content:'';
  display:inline-block;
  width:90%;
  margin-right:-100%;
  border-bottom: 1px solid #cdd4d5;
  margin-left: 20px;
  }

  .docs-h3 {font-weight:400; font-size:150%; margin-top: 35px;}

  .docs-h4 {font-weight:400; font-size:150%; margin-top: 35px;}

  .docs-h5 {font-weight:400; font-size:140%; margin-top: 35px; font-style:italic;}

  .docs-h6 {font-weight:400; font-size:130%; margin-top: 35px; font-style:italic;}

  .docs-text-area {
    font: 400 17px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
    resize: none;
    border: none;
    outline: none;
    box-shadow: none;
    overflow:hidden;
    background-color: transparent;
    color: #111; 
    width: 100%;
    height: 25%;
    z-index:100;
  }

  
  .docs-alert-note {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 20px 0;
    width: 95%;
  }
  
  .docs-alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 20px 0;
    width: 95%;
  }
  
  .docs-alert-important {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 20px 0;
    width: 95%;
  }
  
  .docs-alert-warning {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 20px 0;
    width: 95%;
  }
  
  .docs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #bcd643;
    font-weight: 500;
    width: 100%;
  }
   
  .docs-note-circle:before {
    content:"\f05a"
  }
  
  .docs-check-square-o:before {
    content:"\f046"
  }
  
  .docs-exclamation-circle:before { 
    content:"\f06a"
  }
  
  .docs-warning-sign:before,.fa-exclamation-triangle:before {
    content:"\f06a"
  }

  .docs-fa {
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
  }

  .docs-font-small {
    
    font:normal normal normal 14px/1 "segoeui";
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    line-height: 150%
  }
  
  li > .docs-font-small {
    margin-bottom:7px;
  }
  
  div.docs-font-small {
    margin-bottom:7px;
  }