
  .docs-page {
    border: 0px solid;
    background-color: #fdfdfd;
  }

  .docs-definitionTable {
    background-color: #f3f3f3;
    vertical-align: middle;
    width: 95%;
    min-width: 95px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #dedede;
  }

  .docs-image-container {
    padding: 5px 15px 5px 5px;
    border: solid 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .docs-font-medium {
    font:normal normal normal 32px/1 "segoeui";
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    line-height: 150%
  }
  
  .docs-font-large {
    font:bold normal normal 40px/1 "segoeui";
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    line-height: 150%
  }

  .docs-font-bold-small {
    font:bold normal normal 24px/1 "segoeui";
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    line-height: 150%
  }

  /* Tooltip container */
  .docs-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .docs-tooltip .docs-tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: #0295aa;
    color: #fff;
    font-weight: normal;
    font-size: 92%;
    line-height: 130%;
    text-align: center;
    padding: 15px;
    border-radius: 6px;
  
    /* Position the docs-tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -120px;
     
  
    /* Fade in docs-tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .docs-tooltip .docs-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #0295aa transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .docs-tooltip:hover .docs-tooltiptext {
    visibility: visible;
    opacity: 1;
  }