
.docs-page {
border: 0px solid;
background-color: whitesmoke; 
/*background-color: #fdfdfd;*/
}

.docs-search-page-container {
font: 400 17px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
color: #365558; 
line-height: 150%;
margin: 20 25 20 30px;
}

.docs-common-style-container{
/*background-color: white;*/
font: 400 17px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
color: #324d50; 
line-height: 150%;
margin: 20 30px;
margin: 20 25 20 30px;
caret-color: transparent;
}

.docs-node-html-footer-container {
font: 400 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
color: #e6eaea; 
background-color: #365558;
line-height: 160%;
border-top: 5px solid #0295aa;
margin: 80px 0 0 0;
padding: 30 0 20 0px;
caret-color: transparent;
}

/* DELETE candidate (delete class assignment on DocsSapace.js too)

.docs-context-menu-clickeable-container {
font: 400 17px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
color: #111; 
line-height: 150%;
margin: 20 20 20 30px;
}

*/

#docs-common-style-container-div ul {
padding: 0px;
margin-left: 35px;
list-style-position: outside;
}

.docs-font-normal {
font: 400 17px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
color: #111; 
line-height: 150%;
}

.docs-title-table {
vertical-align: middle;
width: 100%;
min-width: 95px;
margin-bottom: 0px;
margin-top: 0px;
border: 0px solid #cdcdcd;
padding: 5px;
}

.docs-table-cell{
display: table-cell;
width: 100%;
}

.docs-definition-table {
background-color: white;
vertical-align: middle;
margin-bottom: 20px;
margin-top: 0px;
border: 1px solid #cdcdcd;
border-radius: 5px;
padding: 10px;
display: table;
width: 100%;
box-sizing: border-box;
border-collapse: separate;
border-spacing: 10px;
/* DELETE candidate
margin-right: 20px;
*/
}

.docs-definition-text {
display: table-cell;
vertical-align: middle;
padding: 0 20px;
}

.docs-image-container {
padding: 5px 0px 5px 5px;
border: solid 0px;
display: table-cell;
vertical-align: middle;
}

.docs-hierarchy-image-container {
padding: 0px 0px 0px 0px;
border: solid 0px;
margin-left: auto;
margin-right: auto;
width: 100%;
}

/* Link without tooltip */
.docs-link {
position: relative;
display: inline-block;
color: #0295aa !important; 
text-decoration: underline !important; 
cursor: pointer;
}

/* Tooltip container */
.docs-tooltip {
position: relative;
display: inline-block;
border-bottom: 1px dashed #999; 
cursor: pointer;
line-height: inherit;
}

/* Tooltip Settings */
.tippy-box[data-theme~='superalgos'] {
    background-color: #0295aa;
    color: #fff;
    font: normal normal normal 14px/1 "segoeui";
    width: 240px;
    padding: 15px;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 130%;
    text-align: center;
}

.tippy-box[data-theme~='superalgos'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #0295aa;
}
.tippy-box[data-theme~='superalgos'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: #0295aa;
}
.tippy-box[data-theme~='superalgos'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: #0295aa;
}
.tippy-box[data-theme~='superalgos'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: #0295aa;
}


/* Headings */

.docs-h1 {
font-size:210%; 
margin-top: 40px; 
padding-bottom: 5px;
}

.docs-h2 {
font-weight:700; 
font-size:170%; 
line-height: 170%;
margin-top: 30px; 
padding-bottom: 5px; 
overflow:hidden;
}

.docs-h2::after{
content:'';
display:inline-block;
width:90%;
margin-right:-100%;
border-bottom: 1px solid #cdd4d5;
margin-left: 20px;
}

.docs-h3 {
font-weight:500; 
font-size:150%; 
margin-top: 40px;
margin-bottom: 20px;
}

.docs-h4 {
font-weight:400; 
font-style: italic;
font-size:135%; 
margin-top: 30px;
margin-bottom: 20px;
}

/* DELETE candidate

.docs-h5 {font-weight:400; font-size:140%; margin-top: 35px; font-style:italic;}

.docs-h6 {font-weight:400; font-size:130%; margin-top: 35px; font-style:italic;}
margin-right: 20px;

*/
.docs-text-area {
font: 400 17px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
resize: none;
outline: none;
box-shadow: none;
overflow:hidden;
background-color: #eff;
border: 1px solid #0295aa;
border-radius: 5px;
color: #111; 
width: 100%;
height: 25%;
z-index:100;
padding: 0px 10px;
font-size: 95%;
line-height: 140%;
caret-color: #111;
}

/* Alerts */
.docs-alert-note {
color: #31708f;
background-color: #d9edf7;
padding: 15px;
border: 1px solid rgba(49, 112, 143, .3);
border-radius: 4px;
margin: 20px 0;
width: 100%;
box-sizing: border-box;
}

.docs-alert-success {
color: #3c763d;
background-color: #dff0d8;
padding: 15px;
border: 1px solid rgba(60, 118, 61, .3);
border-radius: 4px;
margin: 20px 0;
width: 100%;
box-sizing: border-box;
}

.docs-alert-important {
color: #5e3e07;
background-color: #fcf8e3;
padding: 15px;
border: 1px solid rgba(138, 109, 59, .3);
border-radius: 4px;
margin: 20px 0;
width: 100%;
box-sizing: border-box;
}

.docs-alert-warning {
color: #a94442;
background-color: #f2dede;
padding: 15px;
border: 1px solid rgba(169, 68, 66, .3);
border-radius: 4px;
margin: 20px 0;
width: 100%;
box-sizing: border-box;
}

.docs-alert-error {
color: #fff16c;
background-color: #ff3131;
padding: 30px;
border: 1px solid rgba(0, 0, 0, .5);
border-radius: 4px;
margin: 20px 0;
width: 100%;
box-sizing: border-box;
}

.docs-callout {
background-color:white;
padding: 20px;
margin: 20px 0;
border: 1px solid rgba(54, 85, 88, .3);
border-left-width: 5px;
border-radius: 3px;
border-left-color: #bcd643;
font-weight: 550 !important;
width: 100%;
box-sizing: border-box;
}

.docs-topic-index {
background-color:white;
padding: 25 20px;
margin: 40px 0 0 0;
border: 1px solid rgba(49, 112, 143, .2);
border-left-width: 5px;
border-radius: 5px;
border-left-color: #365558;
width: 100%;
box-sizing: border-box;
}

.docs-topic-index h2 {
font-size: 130%;
font-weight: 300;
margin: 10px 0 35 -5;
padding: 0px;
}

.docs-topic-index h3 {
font-size: 150%;
font-weight: 300;
margin: 25px 0;
padding: 0px;
}

.docs-topic-index p {
font-size: 100%;
padding: 0px;
margin: 2px 0;
}

.docs-topic-index a {
color: #365558;
}

.docs-topic-index a:hover {
text-decoration: underline;
cursor: pointer;
color: #0295aa;
}

.docs-summary {
background-color:white;
font-weight: 600;
color: #365558;
padding: 20px;
margin-bottom: 20px;
border-radius: 5px;
border: 1px solid rgba(54, 85, 88, .3);
border-left: 5px solid #fd6a33;
width: 100%;
box-sizing: border-box;
}

.docs-section {
font-size:120%;
padding: 200px;
}

.docs-note-circle:before {
content:"\f05a"
}

.docs-check-square-o:before {
content:"\f046"
}

.docs-exclamation-circle:before { 
content:"\f06a"
}

.docs-warning-sign:before,.fa-exclamation-triangle:before {
content:"\f06a"
}

.docs-fa {
font:normal normal normal 14px/1 FontAwesome;
font-size:inherit;
text-rendering:auto;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale
}

.docs-font-small {
font:normal normal normal 14px/1 "segoeui";
font-size:inherit;
text-rendering:auto;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
line-height: 150%
}

li > .docs-font-small {
margin-bottom:7px;
}

div.docs-font-small {
margin-bottom:7px;
}

hr.docs-shaded {
box-shadow: inset 0 6px 6px -6px rgba(0,0,0,0.5);
margin: 90 0 70 0;
height: 12px;
border: 0;
background: white;
width: 100%;
}

/* Topic Navigation */

.docs-topic-navigation {
display: table;
width: 100%;
vertical-align: middle;
margin: 80px 0 0 0;
/* 
border-top: 1px solid rgba(54, 85, 88, .3);
margin: 60px 0 0 0;
padding-top: 20px;
*/
}

.docs-topic-navigation div {
display: table-cell;
width: 50%;
max-width: 50%;
text-align: center;
vertical-align: top;
padding: 10px;
/* 
height: 40px;
*/
}

.docs-topic-navigation div button{
border-radius: 50px;
border: 0px;
color: #e6eaea; 
background-color: #365558;
padding: 10px;
margin: 0 0 10 10px;
font-size: 100%;
line-height: 150%;
width: 150px;
height:100%;
}

.docs-topic-navigation div button:hover {
background-color: #0295aa;
cursor: pointer;
}

/* Footer */

.docs-node-html-footer-table {
display: table;
width: 100%;
border-collapse: separate;
border-spacing: 6px;
}

.docs-footer-row {
display: table-row;
}

.docs-footer-cell {
padding: 5px 15px 0px 30px;
display: table-cell;
width: 33%;
}

#docs-footer h3 {
font-size: 180%;
font-weight: 300;
padding: 10px 0 0 0;
}

#docs-footer h4 {
font-size: 120%;
font-weight: 300;
}

#docs-footer button{
border: 1px outset #e6eaea;
border-radius: 20px;
background-color: transparent;
color: e6eaea;
padding: 10px;
margin: 0 0 0 10px;
}

#docs-footer button:hover {
border: 1px inset #e6eaea;
cursor: pointer;
}

#docs-footer a:hover {
text-decoration: none;
color: #ff8c29 !important;
cursor: pointer;
}

#docs-footer a:link,
#docs-footer a:visited,
#docs-footer a:active {
text-decoration: none;
color: #ffd1a9;
}

.docs-footer-language {
width: 30px;
margin-top: 7px;
padding: 7 7px;
}

.docs-footer-language-selected {
    width: 30px;
    margin-top: 7px;
    padding: 7 7px;
    background-color: rgba(230, 234, 234, 0.2);
/* border: 1px solid rgba(205, 212, 213, 0.5); DELETE Candidate*/
border: 1px solid rgba(200, 200, 200, .5);
border-radius: 3px;
    }


/* DELETE candidate
.docs-footer-body {
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
*/

/* Links */
a:link.docs-plain-link {
text-decoration: none;
}

a:visited.docs-plain-link {
text-decoration: none;
}

a:hover.docs-plain-link {
text-decoration: none;
}

a:active.docs-plain-link {
text-decoration: none;
}

/* Icon after external links, using FontAwesome*/
a[href^="http://"]:after, a[href^="https://"]:after {
content: "\f08e";
font-family: FontAwesome;
font-weight: normal;
font-style: normal;
display: inline-block;
text-decoration: none;
padding-left: 3px;
}

/* Tags */

kbd.docs-kbd {
margin: 0 0 0 15px;
}

code.docs-code {
color: #d9534f;
background-color: rgba(230, 234, 234, .5);
/* border: 1px solid rgba(205, 212, 213, 0.5); DELETE Candidate*/
border: 1px solid rgba(54, 85, 88, .1);
border-radius: 3px;
padding: 0 5;
}

code.docs-footer-code {
color: #eee;
background-color: rgba(230, 234, 234, 0.2);
/* border: 1px solid rgba(205, 212, 213, 0.5); DELETE Candidate*/
border: 1px solid rgba(200, 200, 200, .5);
border-radius: 3px;
padding: 0 5;
}

a:hover.code.docs-footer-code {
color: #eee;
background-color: rgba(253, 106, 51, 1);
/* border: 1px solid rgba(205, 212, 213, 0.5); DELETE Candidate*/
border: 1px solid rgba(200, 200, 200, .5);
border-radius: 3px;
padding: 0 5;
}

/* Style the button that is used to open and close the docs-collapsible-element content */
.docs-collapsible-element {
background-color: #eee;
color: #31708f;
cursor: pointer;
width: 97.5%;
text-align: left;
outline: none;
font-size: 100%;
padding: 10px;
margin: 4px 0 4 20;
transition: 0.1s;
/* border: 1px solid #ddd; DELETE Candidate*/
border: 1px solid rgba(54, 85, 88, .3);
border-radius: 5px;
background-color: white;
vertical-align: middle;
box-sizing: border-box;
}

.docs-collapsible-element img {
vertical-align: middle;
display: inline-block;
margin: 0 20px 0 0;
width: 40px;
height: 40px;
}

/* This definition is redundant with .docs-collapsible-element img but affects some images. Investigation required to delete it.*/

.docs-collapsible-image {
vertical-align: middle;
display: inline-block;
margin: 0 20px 0 0;
width: 40px;
height: 40px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .docs-collapsible-element:hover {
border: 1px solid #0295aa;
background-color: #eff;
}

/* Style the docs-collapsible-element content. Note: hidden by default */
.docs-collapsible-content {
padding: 0 18px;
display: none;
margin-left: 75px;
z-index: 1;
font-size: 90%;
line-height: 90%;
}

.docs-collapsible-code-content {
padding: 0;
display: none;
margin-left: 0px;
z-index: 1;
}

.docs-collapsible-element:after {
content: '\02795'; /* Unicode character for "plus" sign (+) */
font-size: 60%;
color: #31708f;
margin-left: 5px;
float: right;
vertical-align: middle;
line-height: 40px;
}

.docs-collapsible-active:after {
content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* This is the same Style as the collapsible counter part but will not hold any collapsed content inside. */
.docs-non-collapsible-element {
/*
background-color: #fdfdfd;
color: #444;
padding: 15px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 125%;
vertical-align: middle;
min-height: 80px;
*/
background-color: #eee;
color: #31708f;
width: 97.5%;
text-align: left;
outline: none;
font-size: 100%;
vertical-align: middle;
padding: 10px;
margin: 4px 0 4 20;
transition: 0.1s;
/* border: 1px solid #ddd;DELETE Candidate*/
border: 1px solid rgba(54, 85, 88, .3);
border-radius: 5px;
background-color: white;

box-sizing: border-box;
}

/* Info Tables */
.docs-info-table {
background-color: transparent;
max-width: 100%;
margin-bottom: 20px;
margin-top: 20px;
/* border: 1px solid #cdcdcd; DELETE Candidate*/
border: 1px solid rgba(54, 85, 88, .3);
border-spacing: 0px;
}

.docs-info-table > thead > tr > th,
.docs-info-table > tbody > tr > th,
.docs-info-table > tfoot > tr > th,
.docs-info-table > thead > tr > td,
.docs-info-table > tbody > tr > td,
.docs-info-table > tfoot > tr > td {
padding: 8px;
line-height: 150%;
vertical-align: top;
}

.docs-info-table > thead > tr > th {
vertical-align: middle;
text-transform: none;
background-color: #333;
color: white;
text-align: left;
}

.docs-info-table > tbody > tr > td {
/* border-top: 1px solid #cdcdcd; DELETE Candidate*/
border: 1px solid rgba(54, 85, 88, .3);
}

.docs-info-table-alt-bg td {
background-color: #f9f9f9;
}

/* Gif Image */
.docs-gif {
max-width: 100%;
width: 100%;
/* border: 1px solid #cdcdcd; DELETE Candidate*/
border: 1px solid rgba(54, 85, 88, .3);
border-spacing: 1px;
}

/* PNG Image */
.docs-png {
max-width: 100%;
width: 100%;
/* border: 1px solid #cdcdcd; DELETE Candidate*/
border: 1px solid rgba(54, 85, 88, .3);
border-spacing: 1px;
}

/* Search Page */
.docs-image-logo-search {
margin: auto;
margin-top: 225px;
margin-bottom: 25px;
}

.docs-search-box {
width: 700px;
height: 45px;
margin-top: 50px;
margin-bottom: 600px;
border-radius: 30px;
border: 1px solid #0295aa;
background-color: white;
vertical-align: middle;
}

.docs-search-input {
width: 95%;
height: 45px;
margin: 0 20px;
font-size: 100%;
color: #6b6b6b; 
border: none;
outline: none;
background-color: transparent;
}

.docs-search-input::placeholder {
    color:#bbb;
}

/* Search Results Page */

/* Search Results Page Header*/

.docs-search-results-header {
display: table;
}

.docs-image-logo-search-results {
vertical-align: middle;
display: table-cell;
padding-right: 25px;
caret-color: transparent;
}

.docs-search-results-box {
height: 45px;
border-radius: 30px;
border: 1px solid #0295aa;
background-color: white;
vertical-align: middle;
display: table-cell;
width: 100%;
}

::placeholder,  /* Chrome, Firefox, Opera, Safari 10.1+ */
:-ms-input-placeholder, /* Internet Explorer 10-11 */
::-ms-input-placeholder { /* Microsoft Edge */
  color: #dbdbdb;
  opacity: 1; /* Firefox */
}

.docs-search-results-header-tabs-container {
display: table;
text-align: right;
align-content: right;
margin-top: 20px;
caret-color: transparent;
}

.docs-search-results-header-tabs-container > input {
display: none;
}

.docs-search-results-header-tabs-container > label {
display: inline-block; 
vertical-align: bottom;
padding: 0 15px 3px 15px;
color: #365558;
font-size: 90%;
}

.docs-search-results-header-tabs-container > label:hover {
color: #0295aa;
padding-bottom: 3px;
cursor: pointer;
}

.docs-search-results-header-tabs-container > input:checked + label {
color: #0295aa;
padding-bottom: 2px;
border-bottom:  3px solid #0295aa;
}

/* Search Results Page Content */
.docs-search-result-content {
border-top: 1px solid #0295aa;
caret-color: transparent;
text-align: left;
align-content: left;
}

.docs-search-result-content > div {
display: none;
}

#docs-tab1:checked ~ .docs-search-result-content #content1,
#docs-tab2:checked ~ .docs-search-result-content #content2,
#docs-tab3:checked ~ .docs-search-result-content #content3,
#docs-tab4:checked ~ .docs-search-result-content #content4,
#docs-tab5:checked ~ .docs-search-result-content #content5,
#docs-tab6:checked ~ .docs-search-result-content #content6,
#docs-tab7:checked ~ .docs-search-result-content #content7,
#docs-tab8:checked ~ .docs-search-result-content #content8 {
display: block;
}

/* Search Results Page Record */

.docs-search-result-content-record-container {
margin: 20px 0;
}

.docs-search-result-content-record-container > p {
margin: 1px;
}

.docs-search-result-content-record-project-category {
font-size: 90%;
color: #31708f;
}

.docs-search-result-content-record-project-category-link {
font-size: 90%;
color: #31708f;
}

a:hover.docs-search-result-content-record-project-category-link {
text-decoration: underline;
cursor: pointer;
}

.docs-search-result-content-record-topic {
font-size: 90%;
color: #31708f;
}

.docs-search-result-content-record-tutorial {
font-size: 90%;
color: #31708f;
}

.docs-search-result-content-record-review {
font-size: 90%;
color: #31708f;
}

.docs-search-result-content-record-topic {
font-size: 90%;
color: #31708f;
}

.docs-search-result-content-record-tutorial {
font-size: 90%;
color: #31708f;
}

.docs-search-result-content-record-review {
font-size: 90%;
color: #31708f;
}

.docs-search-result-content-record-title {
font-size: 120%;
font-weight: 500;
text-decoration: none;
color: #e44d40;
}

a:link.docs-search-result-content-record-title {
text-decoration: none;
color: #e44d40;
}

a:visited.docs-search-result-content-record-title {
text-decoration: none;
color: #fd6a33;
}

a:hover.docs-search-result-content-record-title {
text-decoration: underline;
cursor: pointer;
}

a:active.docs-search-result-content-record-title {
text-decoration: none;
color: #fd6a33;
}

.docs-search-result-content-record-extract {
font-size: 100%;
color: #333;
margin-top: 5px!important;
}

/* Command Results Page Content */
.docs-command-result-content {
/* border-top: 1px solid #cdcdcd; DELETE Candidate*/
border: 1px solid rgba(54, 85, 88, .3);
margin-left: -240px;
}

.docs-command-result-message {
font-size: 90%;
color: #31708f;
}

.docs-hidden-anchor {
border-top: 1px solid #eee;
padding: 0px;
margin: -20px 0px -40px 0;
width: 100%;
text-align: right;
color: transparent;
font-size: 75%;
}

.docs-hidden-anchor::after{
content:' \2693';
color: transparent;
font-size: 130%;
}

.docs-hidden-anchor:hover::after{
content:' \2693';
color: #365558;
font-size: 130%;
}

.docs-hidden-block {
border-top: 1px solid #eee;
padding: 0px;
margin: -5px 0px -30px 0;
width: 100%;
text-align: right;
color: transparent;
font-size: 75%;
}

.docs-hidden-block::after{
content:' \25BD';
color: #e0e0e0;
font-size: 150%;
}

.docs-hidden-block:hover::after{
content:' \25BC';
color: #365558;
font-size: 150%;
}

.docs-hidden-include {
border-top: 1px solid #eee;
padding: 0px;
margin: -5px 0px -30px 0;
width: 100%;
text-align: right;
color: transparent;
font-size: 75%;
}

.docs-hidden-include::after{
content:' \275E';
color: #e6e6e6;
font-size: 200%;
}

.docs-hidden-include:hover::after{
content:' \275E';
color: #365558;
font-size: 200%;
}

.docs-hidden-placeholder {
border-top: 1px solid #eee;
padding: 0px;
margin: -5px 0px -30px 0;
width: 100%;
text-align: right;
color: transparent;
font-size: 75%;
}

.docs-hidden-placeholder::after{
content:' \275E';
color: #e6e6e6;
font-size: 200%;
}

.docs-hidden-placeholder:hover::after{
content:' \275E';
color: #365558;
font-size: 200%;
}

/* Hierarchy Table */
.docs-hierarchy-table {
min-width: 100%;
max-width: 100%;
margin-bottom: 20px;
margin-top: 20px;
/* border: 1px solid #cdcdcd; DELETE Candidate*/
border: 1px solid rgba(54, 85, 88, .3);
border-spacing: 0;
border-collapse: collapse;
font: 400 17px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
color: #111;
}

.docs-hierarchy-table-row{
background-color: #f5f5f5;
}

.docs-hierarchy-table-cell{
text-align: center; 
vertical-align: middle;
}

.docs-external-link {
text-decoration: underline;
color: #31708f;
}

.docs-chapter {
border-top: 1px solid #eee;
padding: 0px;
margin: -5px 0px -30px 0;
width: 100%;
height: 40px;
text-align: right;
color: transparent;
font-size: 75%;
}

.docs-youtube-video-container{
background-color: white; 
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
margin-bottom: 35px; 
max-width: 830px; 
max-height: 476px;
}

