$break-lg: 1200px;
$break-md: 992px;
$break-sm: 768px;
$break-xs: 540px;

$height-nav-bar: 131px;

$height-not-top: 87px;

$image-height-big: 75px;
$image-height-small: 45px;

$text-height: 25px;

$mobile-handle-height: 45px;

$transition-time: 0.3s;

$advanced-algos-red: rgb(245,88,88);

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {

      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

body{
  padding-right: 0 !important;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    border: 1px solid #000;
    padding: 2px 0;
    background-color: #404040;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #737272;
    border: 1px solid #000;
  }
}

.container{
  padding: 15px 15px 15px 15px;
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  @media screen and (min-width: $break-sm) {
    width: 768px;
  }
  @media screen and (min-width: $break-md) {
    width: 970px;
  }
  @media screen and (min-width: $break-lg) {
    width: 1170px;
  }
}

header.menu{
  transition: $transition-time;
  &.notOnTop{
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(210, 217, 224, 0.5);
    height: $height-not-top;
    .container{
      border-bottom: 0px;
      img.logo{
        margin-top: ( $height-not-top - $image-height-small ) / 2;
        height: $image-height-small;
      }
      .mobileHandle{
        margin-top: ( $height-not-top - $mobile-handle-height ) / 2 ;
        margin-bottom: ( $height-not-top - $mobile-handle-height ) / 2 ;
      }
      nav.links{
        @media screen and (min-width: $break-lg) {
          ul.primaryMenu{
            li.primaryLink{
              padding-top: ( $height-not-top - $text-height ) / 2;
              padding-bottom: ( $height-not-top - $text-height ) / 2;
            }
          }
        }
      }
    }
  }
  position: fixed;
  height: $height-nav-bar;
  width: 100vw;
  z-index: 125;

  .container{
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100%;
    border-bottom: 1px solid rgba(142, 144, 146, 0.3);
    img.logo{
      transition: $transition-time;
      margin-top: ( $height-nav-bar - $image-height-big ) / 2 ;
      height: $image-height-big;
      @media screen and (max-width: $break-xs) {
        height: $image-height-small;
        margin-top: ( $height-nav-bar - $image-height-small ) / 2 ;
      }
    }
    .mobileHandle.openedMobile{
      &:before{
        content: "";
        position: absolute;
        left: 16px;
        top: 17px;
        width: 1em;
        height: 0.15em;
        background: $advanced-algos-red;
        box-shadow:
        0 0.25em 0 0 $advanced-algos-red,
        0 0.5em 0 0 $advanced-algos-red;
      }
    }
    .mobileHandle:not(.openedMobile){
      &:before{
        content: "";
        position: absolute;
        left: 16px;
        top: 17px;
        width: 1em;
        height: 0.15em;
        background: rgba(210, 217, 224, 0.9);
        box-shadow:
        0 0.25em 0 0 rgba(210, 217, 224, 0.9),
        0 0.5em 0 0 rgba(210, 217, 224, 0.9);
      }
    }
    .mobileHandle{
      &.openedMobile{
        color: $advanced-algos-red;
        border: 1px solid $advanced-algos-red;
      }
      transition: $transition-time;
      display: block;
      height: $mobile-handle-height;
      line-height: $mobile-handle-height;
      border: 1px solid rgba(210, 217, 224, 0.5);
      text-transform: uppercase;
      color: rgba(210, 217, 224, 0.9);
      text-align: center;
      float: right;
      width: auto;
      clear: none;
      margin-top: ( $height-nav-bar - $mobile-handle-height ) / 2 ;
      margin-bottom: ( $height-nav-bar - $mobile-handle-height ) / 2 ;
      margin-left: 0 !important;
      margin-right: 20px;
      margin: 41px 0 42px 20px;
      padding: 0 18px 0 40px;
      position: relative;
      text-decoration: none;
      border-radius: 31px;
      @media screen and (min-width: $break-lg) {
        display: none;
      }
    }
    nav.links{
      @media screen and (max-width: $break-lg - 1) {
        display: none;
        &.openedMobile{
          display: block;
        }
        ul.primaryMenu{
          padding-left: 20px;
          padding-right: 20px;
          background-color: rgba(0, 0, 0, 0.6);
          font-family: 'Saira';
          font-size: 12px;
          font-weight: 700;
          line-height: $text-height;
          text-transform: uppercase;
          list-style: none;
          li.primaryLink{
            min-width: 240px;
            min-height: 50px;
            border-bottom: 1px solid white;
            &.hasChildren{
              &:after{
                content: '';
                float: right;
                border: solid white;
                border-width: 0 2px 2px 0;
                padding: 3px;
                margin-top: -32px;
                margin-right: 7px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
              }
            }
            &:last-child{
              border-bottom: 0;
            }
            a{
              text-transform: uppercase;
              display: block;
              font-size: 13px;
              height: 50px;
              line-height: 50px;
              font-weight: 700;
              letter-spacing: 1px;
              padding: 0 40px 0 30px;
              text-decoration: none;
              color: white;
              &:hover{
                color: $advanced-algos-red;
              }
              svg{
                padding-top: 10px;
              }
            }
            ul.subMenu{
              display: none;
              list-style: none;
            }
            &.selected{
              ul.subMenu{
                display: block;
              }
            }
          }
        }
      }
      @media screen and (min-width: $break-lg) {
        display: block;
        float: right;
        ul.primaryMenu{
          margin: 0 4px 0 0;
          list-style: none;

          font-family: 'Saira';
          font-size: 12px;
          font-weight: 700;
          line-height: $text-height;
          text-transform: uppercase;
          li.primaryLink{
            transition: $transition-time;
            display: block;
            float: left;
            position: relative;
            padding-top: ( $height-nav-bar - $text-height ) / 2;
            padding-bottom: ( $height-nav-bar - $text-height ) / 2;
            padding-right: 14px;
            padding-left: 14px;
            &.hasChildren{
              &:after{
                content: '';
                border: solid white;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                margin-bottom: 2px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
              }
              >a{
                margin-right:6px;
              }
            }
            a{
              color: white;
              &:hover{
                color: $advanced-algos-red;
              }
              text-decoration: none;
              &.selected{
                color: $advanced-algos-red;
              }
              svg{
                padding-top: 10px;
              }
            }
            ul.subMenu{
              display: none;
              position: absolute;
              top: 100%;
              left: 0;

              padding: 18px 30px;
              list-style: none;
              font-family: 'Saira';
              font-size: 12px;
              font-weight: 300;
              line-height: $text-height;

              min-width: 240px;
              background-color: rgba(0, 0, 0, 0.6);
              li{
                height: 30px;
              }
            }
            &.selected{
              &>a{
                color: $advanced-algos-red;
              }
              ul.subMenu{
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

.bannerTopBar{
  background-position: center center;
  background-size: cover;
  background-image: url(https://advancedalgos.net/img/photos/teams.jpg);
  width: 100%;
  height: 220px;
  &.big{
    height: 100vh;
    .caption{
      display: block;
      top: 42%;
    }
  }
  &.medium{
    height: 50vh;
    .caption{
      display: block;
      top: 46%;
    }
  }
  .caption{
    display: none;
    position: relative;
    top: 50%;
    font-family: Saira;
    .title{
      color: white;
      font-size: 64px;
      line-height: 78px;
      font-weight: 100;
      @include fluid-type($break-xs, $break-lg, 26px, 64px);
    }
    .text{
      color: white;
      line-height: 30px;
      font-weight: 600;
      padding: 20px 0 0.5em 0;
      @include fluid-type($break-xs, $break-lg, 18px, 20px);
    }
  }
}

.homePage.container{
  padding-top: 70px;
  padding-bottom: 70px;
  .title{
    padding: 0 0 10px 0;
    @include fluid-type($break-xs, $break-lg, 24px, 45px);
    line-height: 55px;
    padding: 40px 0 0.5em 0;
    font-weight: 100;
  }
  .subtitle{
    padding-bottom: 5px;
    @include fluid-type($break-xs, $break-lg, 18px, 20px);
    line-height: 19px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1em;

  }
  .column{
    vertical-align: top;
    display: inline-block;
    width: 100%;
    padding: 10px;
    @media screen and (min-width: $break-sm) {
      width: 50%;
    }
    p{
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 0.75em;
      margin-top: 0.75em;
      font-size: 16px;
      font-weight: 300;
      color: #5a6266;
      text-size-adjust: 100%;
      a{
        text-decoration: none;
        transition: all 0.3s ease-in-out 0s;
        color: #CC5835;
      }
    }
  }
}

.toTop{
  position: fixed;
  height: 40px;
  width: 40px;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  background-color: #1a1a1a;
  border-radius: 100%;
  &:after{
    content: '';
    float: right;
    border: solid white;
    border-width: 0 3px 3px 0;
    padding: 3px;
    margin-top: 18px;
    margin-right: 15px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
}
