.post {
    min-width: 5rem; /* todo needs to set a minimum width, but overriding from parent*/
    max-width: 100%;
    min-height: 5rem; /* todo needs tbd. needed actually? */
    max-height: 100%; /* todo need to be 8rem, but is collapsing without scroll. need fix*/
    padding: 0.5rem;
}

.postAvatarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
}
.postBody {
    height: 12.5rem;
    padding-left: 2.8rem;
}

.postUserName {
    padding: 0.75rem;
    justify-content: center;
    align-items: center;
}

.postFooter {
    justify-content: space-evenly;
    padding: 0.15rem;
    width: 100%;
    display: flex;
}
