/.env
/.env.prod
/database/.env
/database/docker-compose.prisma.prod.yml
/database/*.zip
/database/data-archive
/docker-compose.prisma.prod.yml
/docker-compose.prod.yml
.graphqlconfig.prod.yml
dist
node_modules
.idea
.vscode
*.log
